

#profileCard{
    z-index: 10;color: white;background: #8E0E00; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8E0E00 , #1F1C18); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8E0E00 , #1F1C18); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;opacity: 0.85
}

.editProfileButton:hover{
    background-color: grey !important;
}

#updateEmail{
    display: block;
    margin-top: 20px;
}


.profilepic{
    width: 200px;
    height: 200px;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

#updateProfilePicture{
    display: block;
    margin-top: 5%;
}


#titleOfCard{
    font-weight:600;
    font-size: 34px;
    word-wrap: break-word;
    line-height: 30px;
    color: white;
}

.Headings{
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.7);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.navbar{
    background: rgb(170, 0, 0);
    background: -moz-linear-gradient(35deg, rgb(170, 0, 0) 23%, rgb(0, 0, 0) 70%);
    background: -webkit-linear-gradient(35deg, rgb(170, 0, 0) 23%, rgb(0, 0, 0) 70%);
    background: -o-linear-gradient(35deg, rgb(170, 0, 0) 23%, rgb(0, 0, 0) 70%);
    background: -ms-linear-gradient(35deg, rgb(170, 0, 0) 23%, rgb(0, 0, 0) 70%);
    background: linear-gradient(125deg, rgb(170, 0, 0) 23%, rgb(0, 0, 0) 70%);
}


.dropdown .dropdown-menu{
    background: rgb(170, 0, 0);
    background: -moz-linear-gradient(35deg, rgb(170, 0, 0) 23%, rgb(0, 0, 0) 70%);
    background: -webkit-linear-gradient(35deg, rgb(170, 0, 0) 23%, rgb(0, 0, 0) 70%);
    background: -o-linear-gradient(35deg, rgb(170, 0, 0) 23%, rgb(0, 0, 0) 70%);
    background: -ms-linear-gradient(35deg, rgb(170, 0, 0) 23%, rgb(0, 0, 0) 70%);
    background: linear-gradient(125deg, rgb(170, 0, 0) 23%, rgb(0, 0, 0) 70%);

}

.dropdown .dropdown-menu{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.dropdown:hover .dropdown-menu:hover{
    background-color: transparent;
    color: #000;
}

.dropdown-item{
    background-color: transparent;
    color: white;
}

.logoutButton:hover{
    background-color: red;
}

.navbar{
    margin-bottom: 0;
}

.navbar .dropdown:hover > .dropdown-menu{
    display:block;
}

.hvr-icon-sink-away:before{
    content: "\f01a";
    font-size: 17px;
}

.example-card{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

#realList{
    margin-left: 40px !important;
}

.img-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.container-fluid {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:0.4s;
    animation-delay: 0.49s
}







/*Don't bother past here lol */

/*Ball Loading */
.la-ball-clip-rotate-multiple,
.la-ball-clip-rotate-multiple > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.la-ball-clip-rotate-multiple {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-clip-rotate-multiple.la-dark {
    color: #333;
}
.la-ball-clip-rotate-multiple > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-clip-rotate-multiple {
    width: 32px;
    height: 32px;
}
.la-ball-clip-rotate-multiple > div {
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;
    -webkit-animation: ball-clip-rotate-multiple-rotate 0.9s ease-in-out infinite;
    -moz-animation: ball-clip-rotate-multiple-rotate 0.9s ease-in-out infinite;
    -o-animation: ball-clip-rotate-multiple-rotate 0.9s ease-in-out infinite;
    animation: ball-clip-rotate-multiple-rotate 0.9s ease-in-out infinite;
}
.la-ball-clip-rotate-multiple > div:first-child {
    position: absolute;
    width: 32px;
    height: 32px;
    border-right-color: transparent;
    border-left-color: transparent;
}
.la-ball-clip-rotate-multiple > div:last-child {
    width: 16px;
    height: 16px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;
}
.la-ball-clip-rotate-multiple.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-clip-rotate-multiple.la-sm > div {
    border-width: 1px;
}
.la-ball-clip-rotate-multiple.la-sm > div:first-child {
    width: 16px;
    height: 16px;
}
.la-ball-clip-rotate-multiple.la-sm > div:last-child {
    width: 8px;
    height: 8px;
}
.la-ball-clip-rotate-multiple.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-clip-rotate-multiple.la-2x > div {
    border-width: 4px;
}
.la-ball-clip-rotate-multiple.la-2x > div:first-child {
    width: 64px;
    height: 64px;
}
.la-ball-clip-rotate-multiple.la-2x > div:last-child {
    width: 32px;
    height: 32px;
}
.la-ball-clip-rotate-multiple.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-clip-rotate-multiple.la-3x > div {
    border-width: 6px;
}
.la-ball-clip-rotate-multiple.la-3x > div:first-child {
    width: 96px;
    height: 96px;
}
.la-ball-clip-rotate-multiple.la-3x > div:last-child {
    width: 48px;
    height: 48px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@-moz-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        -moz-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@-o-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -o-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        -o-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        -o-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        -o-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        -moz-transform: translate(-50%, -50%) rotate(180deg);
        -o-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        -o-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}



.container {
    width: 200px;
    height: 260px;
    position: relative;
    border: 1px solid #ccc;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
