<div style="color: indianred;position: fixed;margin-left: 50%;margin-top: 22%" class="la-ball-clip-rotate-multiple la-3x">
  <div></div>
  <div></div>
</div>



<div style="background-color: darkgray;height: 100%;width: 100%" class="container-fluid">


  <div class="row" style="margin-bottom: 100px">
    <nav class="navbar navbar-toggleable-xl navbar-inverse bg-inverse fixed-top" >
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/home" style="margin-left:10px;font-family: 'Audiowide',cursive">SportJunkie™</a>
      <div class="collapse navbar-collapse d-flex justify-content-start"  id="navbarNavDropdown">
        <ul class="navbar-nav" style="margin-left: 40px;font-size: 16px;font-weight: bold;font-family: 'Open Sans', sans-serif;">
          <li class="nav-item p-2">
            <a  class="nav-link hvr-pop" href="/home">Home</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link hvr-pop" href="/cricket">Cricket</a>
          </li>
          <li class="nav-item active p-2">
            <a class="nav-link hvr-pop" href="/football">Football</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link hvr-pop" href="/swimming">Swimming</a>
          </li>
        </ul>
      </div>
      <p style="color: white;margin-top: 10px;text-align: center;display: inline-flex;align-items: center;justify-content: center;width: 100%" class="d-flex justify-content-start">Currently logged in as: {{firstName}} {{lastName}}</p>
      <div style="margin-right: 40px" class="d-flex justify-content-start">
        <button class="viewProfileButton"  (click)="viewProfile()" md-raised-button style="font-family: 'Audiowide',bold"> Profile</button>
      </div>
      <div class="d-flex justify-content-start">
        <button class="logoutButton" (click)="logout()" md-raised-button style="font-family: 'Audiowide',bold"> Logout</button>
      </div>
    </nav>
  </div>
  <!--_toggleSidebar()-->



  <div style="background-color: darkgrey!important;" class="row">
    <div class="col col-4 col-sm-4 col-md-4">

    </div>
    <div  style="font-family: 'Open Sans',sans-serif" class="col col-5 col-sm-5 col-md-5">
      <div *ngFor="let starter of articles|slice:0:1">
        <h4 *ngIf="starter.articleID" style="font-family: 'Open Sans',sans-serif;font-size: 26px;margin-bottom: 0!important;">Latest Articles </h4>
        <hr *ngIf="starter.articleID"  style="width: 100%;background-color: black;margin-bottom: 25px">
      </div>
      <div *ngFor="let article of articles">
        <md-card *ngIf="article.category=='Football'" (click)="increaseClicks(article.articleID,article.numberOfClicks,article.category);viewArticle(article.articleID)"   class="example-card">
          <div style="position: absolute;" class="Headings">
            <md-card-title id="titleOfCard">{{article.title}}</md-card-title>
            <hr style="background-color: white">
            <md-card-subtitle style="margin-left: 3px;color: white">{{article.category}}</md-card-subtitle>
          </div>
          <md-card-content style="">
            <img style="height: 440px;display: inline-block;z-index: -1" md-card-image src="{{article.urlToImage}}">
            <p style="font-size: 16px;font-weight: 600">{{article.subtitle}}</p>
          </md-card-content>
        </md-card>
      </div>
    </div>

    <div style="position: fixed;right: 0"  id="list" class="col col-3 col-sm-3 col-md-3">
      <md-card id="featuredCard" style="position: relative;opacity: 0.85;background-color: #971313" *ngFor="let starter of featuredArticles|slice:0:1">
        <md-card-content>
          <div>
            <h2 style="font-family: 'Open Sans';text-align: left;margin-left: 20px;color: white" *ngIf="starter.articleID"> Featured </h2>
            <hr *ngIf="starter.articleID" style="width: 90%;margin-left: 20px;background-color: white">
          </div>
          <ol style="background-color: #971313; font-family: 'Open Sans',sans-serif ">
            <div *ngFor="let featured of featuredArticles|slice:0:10">
            <li *ngIf="featured.category=='Football'" id="featuredItems" style="margin-top: 20px;cursor: pointer;width: 100%;color: white;line-height: 5px;text-overflow: ellipsis;"  (click)="increaseClicks(article.articleID,article.numberOfClicks,article.category);viewArticle(article.articleID)" >
              <div *ngIf="featured.articleID" >
              <img style="display:inline-block;margin-left: 3%" class="img-circle" [src]="featured.urlToImage">
                <div style="display: inline-block;position: relative;width: 62%;margin-top: 13px;margin-bottom: 20px;vertical-align: middle">
                <p style="display: inline-block;margin-left: 5%;word-wrap: break-word;text-align:left">{{featured.title}}</p>
              </div>
              </div>
            </li>
            </div>
          </ol>
        </md-card-content>
      </md-card>
    </div>

  </div>


</div>

<router-outlet></router-outlet>
