<div style="position: fixed;overflow-x: hidden!important;" class="container-fluid">

</div>





<div style="width: 100%;height: 100%" class="forCard" id="everything">
    <div class="row justify-content-center" >
        <div class="col col-4 col-sm-4 col-md-4" ></div>

        <div class="col col-xs-4">
            <md-card class="MainCard">
                <md-card-content>
                    <img class="JunkieImage" [src]="pathToImg" style=" display:flex;width: 100%!important;margin: auto" alt="">

                    <form style="text-align: center;margin-top: 6%" #signInForm2='ngForm' (ngSubmit)="signIn(signInForm2, $event)" xmlns="http://www.w3.org/1999/html">
                        <input style="width:70%;padding-bottom: 7px" type="email" pInputText name="email" id="emailForSignin" (ngModel)="email" placeholder="Enter Email..." required/><br><br>
                        <input style="width: 70%;padding-bottom: 7px" type="password" pInputText name="password" id="passwordForSignin" (ngModel)="password" placeholder="Enter Password..." required/><br><br>

                        <div style="text-align: center">
                            <button class="signinbutton" md-raised-button type="submit" style="width: 100px!important;color: white;font-size: 16px;font-family:'Audiowide',cursive;display: block;margin: 0 auto" [disabled]="!signInForm2.valid" >Sign In</button>
                        </div>


                    </form>
                    <hr class="horizontal1">

                    <div class="btn btn-block btn-social btn-google" style="width: 200px;margin: 0 auto" (click)="googleSignup($event)">
                        <span style="margin-right: 5px;" class="fa fa-google"></span>
                        <h6 style="margin-left: 5px">Sign in with Google</h6>
                    </div>
                    <br>
                    <hr class="horizontal1">
                    <button type="button" class="btn btn-primary" style="width: 200px;margin:0 auto;display: block" data-toggle="modal" data-target="#signup">
                        <h6> Sign up using Email</h6>
                    </button><br>
                </md-card-content>
            </md-card>
        </div>

        <div class="col col-4 col-sm-4 col-md-4" >
        </div>

    </div>
</div>



<div style="z-index: 10000;position: absolute" id="message"><p-growl  [value]="msgs"></p-growl></div>


<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="margin: auto; font-family: 'Audiowide',bold">SportJunkie™ Signup Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #formData='ngForm' (ngSubmit)="onSubmit(formData, $event)" xmlns="http://www.w3.org/1999/html">
                    <p style="font-family: 'Open Sans',cursive;font-size: 15px">All fields marked by "<span style="color: red"> * </span> " are mandatory to create an account. </p>
                    <label for="email" style="display: block; font-family: 'Audiowide',bold" >Enter Email*:</label>
                    <input type="email" style="width: 200px" pInputText name="email" id="email" (ngModel)="email" #email="ngModel" required email/>
                    <span style="margin-left: 10px" *ngIf="email.errors?.email"><i style="color: red" class="fa fa-times-circle" aria-hidden="true"></i> Not in proper email format. </span>
                    <span style="margin-left: 10px" *ngIf="!email.errors?.email &&email.dirty"><i style="color: green" class="fa fa-check-circle" aria-hidden="true"></i> </span>
                    <br><br>

                    <label for="password" style="display: block; font-family: 'Audiowide',bold">Enter Password*:</label>
                    <input type="password" style="width: 200px" pPassword name="password" id="password" (ngModel)="password" #password="ngModel"  [rangeLength]="[6, 20]" minlength="6" required/>
                    <span style="margin-left: 10px" *ngIf="password.errors?.rangeLength"><i style="color: red" class="fa fa-times-circle" aria-hidden="true"></i>Must be between 6 and 20 characters. </span>
                    <span style="margin-left: 10px" *ngIf="!password.errors?.rangeLength && password.dirty && password.value.length>0"><i style="color: green" class="fa fa-check-circle" aria-hidden="true"></i> </span>
                    <br><br>

                    <label for="password" style="display: block; font-family: 'Audiowide',bold">Re-enter Password*:</label>
                    <input type="password" style="width: 200px" pPassword name="passwordCheck" id="passwordCheck" (ngModel)="passwordCheck" #passwordCheck="ngModel"  [equalTo]="password" required/>
                    <span style="margin-left: 10px" *ngIf="passwordCheck.errors?.equalTo && !passwordCheck.pristine"><i style="color: red" class="fa fa-times-circle" aria-hidden="true"></i>   Passwords do not match. </span>
                    <span style="margin-left: 10px" *ngIf="!passwordCheck.errors?.equalTo && passwordCheck.dirty && password.value.length>0"><i style="color: green" class="fa fa-check-circle" aria-hidden="true"></i> Password Match. </span>
                    <br><br>


                    <label for="Fname" style="display: block;; font-family: 'Audiowide',bold">Enter First Name*:</label>
                    <input type="text" style="width: 200px" pInputText name="Fname" id="Fname" (ngModel)="firstName" #Fname="ngModel" pattern="[a-z A-Z]*" required/>
                    <span *ngIf="Fname.errors?.pattern"><i style="color: red" class="fa fa-times-circle" aria-hidden="true"></i>Please Enter Text Only.</span>
                    <br><br>
                    <label for="Lname" style="display: block;; font-family: 'Audiowide',bold">Enter Last Name*:</label>
                    <input type="text" style="width: 200px" pInputText name="Lname" id="Lname" (ngModel)="lastName" #Lname="ngModel" pattern="[a-z A-Z]*" required/>
                    <span *ngIf="Lname.errors?.pattern"><i style="color: red" class="fa fa-times-circle" aria-hidden="true"></i>Please Enter Text Only.</span>
                    <br><br>
                    <label for="fileInputButton" style="display: block; font-family: 'Audiowide',bold">Upload Profile Picture (Optional):</label>
                    <label class="btn btn-default btn-primary" for="fileInput" id="fileInputButton" style="width: 30%">Browse
                        <input type="file" style="width: 100px" accept=".jpg,.png,.gif" (change)="getFile($event)" class="form-control" id="fileInput"  placeholder="Search for..." hidden required>
                    </label>
                    <p>{{filename}}</p>
                    <img *ngIf="filename!=null" id="blah" src="#" alt="your image" />
                    <div *ngIf="file&&progress!=100" style="margin-top: 20px;margin-bottom: 20px" class="progress">
                        <p style="width: 100%;color: black"><ngb-progressbar type="danger" [animated]="true" [value]="progress" [striped]="true">{{progress}}</ngb-progressbar></p>
                    </div>
                    <button type="submit" style="float: right"  (click)="clicked();onSubmit(formData,$event)" class="btn btn-warning"  [disabled]="!formData.valid">Submit</button>
                    <button id="closeButton" type="button" style="float: right;margin-right: 10px" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>





<router-outlet></router-outlet>